@model IEnumerable<AndreiBrindusan.DataModel.DrugUnit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugUnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugUnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrugUnitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrugUnitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrugUnitId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
